@charset "utf-8";
.v-enter-active, 
.v-leave-active {
  transition: opacity 500ms ease-out;
}

/* フェードイン */
.v-enter {
  opacity: 0; /* フェードインの初期状態 */
}

.v-enter-to {
  opacity: 1; /* フェードインの終了状態 */
}

/* フェードアウト */
.v-leave {
  opacity: 1; /* フェードアウトの初期状態 */
}

.v-leave-to {
  opacity: 0; /* フェードアウトの終了状態 */
}
