<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js SPAサンプルアプリケーション</title>

  <!-- CSS -->

  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>
<body>
  <div id="app">
    <header>
      <nav>
        <router-link to="/top">トップページ</router-link>
        <router-link to="/users">ユーザ一覧ページ</router-link>
        <router-link to="/users/new">ユーザ作成ページ</router-link>
      </nav>
      <router-view></router-view>
    </header>

  </div>
</body>

<!-- テンプレート -->
<script type="text/x-template" id="user-list">
  <div>
    <div class="loading" v-if="loading">読み込み中...</div> 
    <div class="error" v-if="error">
      {{ error }}
    </div>
    <div v-for="user in users" :key="user.id"> <!-- usersが読み込まれたら各ユーザの名前を表示する -->
      <router-link :to="{ path: '/users/' + user.id }">{{ user.name }}</router-link>
    </div>
  </div>
</script>
<script type="text/x-template" id="user-detail">
  <div>
    <div class="loading" v-if="loading">読み込み中...</div> 
    <div class="error" v-if="error">
      {{ error }}
    </div>
    <div v-if="user"> 
      <h2>{{ user.name }}</h2>
      <p>{{ user.description }}</p>
    </div>
  </div>
</script>
<script type="text/x-template" id="user-create">
  <div>
    <div>
      <h2>新規ユーザ作成</h2>
      <div>
        <label>名前：</label>
        <input type="text" v-model="user.name">
      </div>
      <div>
        <label>説明文：</label>
        <textarea v-model="user.description"></textarea>
      </div>
      <div class="error" v-if="error">
        {{ error }}
      </div>
      <div class="sending" v-if="sending">Sending...</div>
      <div>
        <input type="button" @click="createUser" value="送信">
      </div>
    </div>
  </div>
</script>

<!-- Vue.jsの実行部分 -->
<script>
  var getUsers = function (callback){ // 疑似的にJSONを返す
    setTimeout(function(){
      callback(null, userData)
    }, 1000)
  }

  var UserList = {
    template: "#user-list", // HTML上のscriptタグのidを指定する
    data: function(){
      return {
        loading: false,
        users: function() { return [] }, // 初期値の空配列
        error: null
      }
    },

    created: function(){ // 初期化時にデータを取得する
      this.fetchData()
    },

    watch: { // $routeの変更を監視することで、ルーティングが変更されたときに再度データを取得する
      '$route': 'fetchData'
    },

    methods: {
      fetchData: function(){
        this.loading = true

        getUsers((function(err, users){ // 取得したデータの結果をusersに格納する
          this.loading = false
          if(err){
            this.error = err.toString()
          } else {
            this.users = users
          }
        }).bind(this)) // thisのスコープを渡すために利用
      }
    }
  }

  var userData = [
    {
      id: 1,
      name: 'Takuya Tejima',
      description: '東南アジアで働くエンジニアです。'
    },
    {
      id: 2,
      name: 'Yohei Noda',
      description: 'アウトドア・フットサルが趣味のエンジニアです。'
    }
  ]

  var getUser = function(userId, callback){
    setTimeout(function(){
      var filteredUsers = userData.filter(function(user){
        return user.id === parseInt(userId, 10)
      })
      callback(null, filteredUsers && filteredUsers[0])
    }, 1000)
  }


  var UserDetail = {
    template: "#user-detail",
    data: function(){
      return {
        loading: false,
        user: null,
        error: null
      }
    },

    created: function(){
      this.fetchData()
    },

    watch: {
      '$route': 'fetchData'
    },

    methods: {
      fetchData: function(){
        this.loading = true
        getUser(this.$route.params.userId, (function(err, user){
          this.loading = false
          if(err){
            this.error = err.toString()
          } else {
            this.user = user
          }
        }).bind(this))
      }
    }
  }

  var postUser = function(params, callback){
    setTimeout(function(){
      params.id = userData.length + 1
      userData.push(params)
      console.log(params)
      console.log(userData)
      callback(null, params)
    }, 1000)
  }

  var UserCreate = {
    template: '#user-create',
    data: function(){
      return {
        sending: false,
        user: this.defaultUser(),
        error: null
      }
    },

    created: function(){

    },

    methods: {
      defaultUser: function(){
        return {
          name: '',
          description: ''
        }
      },

      createUser: function(){
        if(this.user.name.trim() === ''){
          this.error = 'Nameは必須です。'
          return
        }
        if(this.user.description.trim() === ''){
          this.error = 'Descriptionは必須です。'
          return
        }
        postUser(this.user, (function(err, user){
          this.sending = false
          if(err){
            this.error = err.toString()
          } else {
            this.error = null
            this.user = this.defaultUser()
            alert('新規ユーザが作成されました。')
            // this.$router.push('/users')
          }
        }).bind(this))
      },
    }
  }

  var router = new VueRouter({
    routes: [
      {
        path: '/top',
        component:{
          template: '<div>トップページです。</div>'
        }
      },
      {
        path: "/users",
        component: UserList
      },
      {
        path: "/users/new",
        component: UserCreate
      },
      {
        path: '/users/:userId',
        component: UserDetail
      }
    ]
  })

  var app = new Vue({
    router:router
  }).$mount('#app')
</script>
</html>